<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./vendor/autoload.php"
    cacheTokens="true"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="true"
    verbose="false">
    <testsuites>
        <testsuite name="Desafio HostGator Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>